<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                男性女性身高體重分布
            </div>
            <div class="card-block">
                <div class="card-text">
                    <app-elinechart></app-elinechart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                堆疊圖
            </div>
            <div class="card-block">
                <div class="card-text">
                    <app-estackchart></app-estackchart>
                </div>
            </div>
        </div>
    </div>
     <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                漏斗圖
            </div>
            <div class="card-block">
                <div class="card-text">
                    <app-filterchart></app-filterchart>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Step Line Chart
            </div>
            <div class="card-block">
                <div class="card-text">
                    <app-steplinechart></app-steplinechart>
                </div>
            </div>
        </div>
    </div>





</div>

