<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Clarity</span>
      </a>
    </div>
  </clr-header>

  <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <nav class="sidenav">
            <section class="sidenav-content">
                <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active">
                    Home
                </a>
                <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active">
                    About
                </a>
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">ChartJS Demo</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">ng2-charts Introduction</a></li>
			<li><a class="nav-link" href="#" [routerLink]="['/chartjs-demo']" routerLinkActive="active">ng2-charts Demo</a></li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">EChart Demo</label>
                    <ul class="nav-list">
                        <li><a class="nav-link" href="#" [routerLink]="['/echarts-demo']" routerLinkActive="active">ngx-echarts Demo</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>

</clr-main-container>
